body{
    background-color: rgba(128, 128, 128, 0.131);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin:0;
    overflow: hidden;
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-container::before{
    content: ' ';
    background-color:rgba(128, 128, 128, 0.145);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    /* transform: translateY(-50%); */
}
.progress{
    background-color:#515de0;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
    /* transform: translateY(-50%); */
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(128, 128, 128, 0.145);
    transition: 0.4s ease;
}

.circle.active{
    border-color:#5151e0 ;
}

.btn{
    background-color: #5151e0;
    font-size: 18px;
    color: white;
    /* border: 1px solid black; */
    border-radius: 6px;
    cursor: pointer;
    padding: 3px 10px;
}
.btn:disabled{
    background-color: rgba(128, 128, 128, 0.439);
    cursor: not-allowed;
}